body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0px auto;
  width: 99%;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  background: black;
}

h1 {
  color:rgb(9, 9, 133);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  font-size: 16px;
  display: inline-block;
  padding-left: 15px;
  color: rgb(54, 47, 47);
}

.box-1 {
  margin: 0px;
  /* border: 1px solid rgb(54, 29, 29); */
  color: rgb(61, 60, 47);
  background: rgb(253, 253, 252)
}

.box-2 {
  margin: 10px;
  text-align: center;
  color: rgb(26, 46, 32);
}

.box-3 {
  margin: 10px;
  font-family: Geneva;
  color: rgba(170, 15, 106, 0.986);
  text-shadow: 1px, 4px, 5px, black;
}

.active {
  color: rgb(141, 141, 199);
  cursor: default;
}

.post {
  padding: 0px 25px;
  margin: 25px;
  border: 1px solid green;
}